#StateProfileContainer {
	width : 1000px;
	margin : auto;
    background-color: white;
}

#StateServices {
    list-style-type:georgian;
    margin: 0;
    margin-top:5px;
    margin-right : 0px;
    width: 200px;
    padding-left:0px;
	padding-right:10px;
    background-color:#aad6a9;
    text-align: justify;
}

ul.StateServices{
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start:0px;
}

#StateServices a {
    display: block;
    color: white;
    padding: 8px 8px;
    border-radius: 8px;
    border: 1px solid white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 10px;
    background-color: #6B8E23;
}

table, td {
		border-collapse: collapse;
	}
	
#StateServices li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
 .internalContent {
	font-size: 16px;
}
